svg {
  width: 90vw;
  height: 90vh;
}

svg g.nodes circle.node {
  cursor: pointer;
}

svg g.links line.link {
  stroke: #ccc;
  stroke-width: 4px;
}

svg g.links circle.link-info {
  fill: #ccc;
}

.input-group > .custom-select:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .custom-select:not(:first-child):not(:last-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
