<svg id="overview">
  <defs>
  <marker id="arrow" markerWidth="10" markerHeight="10" refX="10" refY="2" orient="auto" markerUnits="strokeWidth">
    <path d="M0,0 L0,4 L6,2 z" />
  </marker>
</defs>
  <g class="links">
    <g *ngFor="let link of getAdventure().links">
      <svg:line class="link" [attr.x1]="link.source.x" [attr.y1]="link.source.y" [attr.x2]="link.target.x" [attr.y2]="link.target.y"  marker-end="url(#arrow)"></line>
      <svg:circle class="link-info" r="5" [attr.cx]="(link.source.x + link.target.x) / 2" [attr.cy]="(link.source.y + link.target.y) / 2" container="body" placement="top" ngbTooltip="{{link.title}}"></circle>
    </g>
  </g>
  <g class="nodes">
    <g *ngFor="let node of getAdventure().nodes">
      <svg:circle *ngIf="!isNodeSelectionMode()" class="node" [attr.r]="node.r" [attr.cx]="node.x" [attr.cy]="node.y" (click)="openNodeModal(node)" container="body" ngbPopover="{{node.text}}" popoverTitle="{{node.title}}"></circle>
      <svg:circle *ngIf="isNodeSelectionMode() && node !== getSelectedNode()" class="node selectable" [attr.r]="node.r" [attr.cx]="node.x" [attr.cy]="node.y" (click)="selectNodeAsTarget(node)"></circle>
      <svg:circle *ngIf="isNodeSelectionMode() && node === getSelectedNode()" class="node" [attr.r]="node.r" [attr.cx]="node.x" [attr.cy]="node.y" (click)="abortChangeTarget()"></circle>
    </g>
    <svg:circle *ngIf="isNodeSelectionMode()" class="node selectable new-node" r="10" cx="50" cy="50" (click)="createNewNode()"></circle>
    <text *ngIf="isNodeSelectionMode()" x="65" y="55">
      New
    </text>
  </g>
</svg>
